<header><table class="bar"><tr>
  <td class="link"><nav><%= link_to 'Home', controller: 'welcome' %></nav></td>
  <td class="link"><nav><%= link_to 'Projects', controller: 'projects' %></nav></td>
  <td class="link"><nav>Feedback</nav></td><!-- TODO: Create Feedback Page -->
  <td class="link"><nav>Staff</nav></td><!-- TODO: Setup authentication -->
</tr></table></header>