<header><table class="bar"><tr>
  <td class="link"><nav><%= link_to 'Home', controller: 'welcome' %></nav></td>
  <td class="link"><nav><%= link_to 'Projects', controller: 'projects' %></nav></td>
  <td class="link"><nav>Contact</nav></td><!-- TODO: Create Contact Page -->
  <td class="link"><nav>Saff</nav></td><!-- TODO: Setup authentication -->
</tr></table></header>