<!DOCTYPE html>
<html lang="en-US">
   <header>
      <head>
         <title> My First Labs </title>
         <link href="https://fonts.googleapis.com/css?family=Almendra+Display" rel="stylesheet">
      </head>
   </header>
   <body>
      <div id="container">
      <h1> My First Labs </h1>
      <p style="font-style:italic; font-size:18px">Build your own early electronic devices at home, in school, or any educational setting!</p>
      <img src="http://i.imgur.com/V4NAVpl.jpg" alt="imgur.com" style="width:500px;">
      </div>
   </body>
</html>