<!DOCTYPE html>
<html lang="en-US">
<div id="header">
<head>
<title> My First Labs </title>
<link href="https://fonts.googleapis.com/css?family=Almendra+Display" rel="stylesheet">      
</head>
</div>

<body>
<div id="container">
<h1> My First Labs </h1>
<p style="font-style:italic; font-size:18px">Build your own early electronic devices at home, in school, or any educational setting!</p>
<a href="https://www.tindie.com/stores/mscharlotte/"> To order full parts kits online, click here. </a>
<div id="teslacoil">
<h3> Tesla Coil </h3>
<p> A precursur to the first radio, a tesla coil takes energy from a source and amplfies it to produce wireless electricity. </p>
<p> This mini Tesla coil isn't powerful enough to cause any harm, but has been known to power a light bulb at close distances </p>
<img src="http://i.imgur.com/V4NAVpl.jpg" alt="imgur.com" style="width:500px;">
</div>

<div id="brushlessmotor">
<h3> Brushless Motor </h3>
<p> The Brushless Motor is a magnetically propelled motor, inspired by Tesla's brushless motor. </p>
<img src="http://i.imgur.com/c67BCpL.jpg" alt="imgur.com" style="width:500px;">
<p> </p>
<a href="https://www.youtube.com/watch?v=o9debNpDRI4">Brushless Motor instructional video</a>
</div>

<div id="hotwireknife">
<h3> Hot Wire Knife </h3>
<p> The hot wire knife uses an electric current carried through copper tape to heat up a wire which then can cut through styrofoam by melting it away. <br>Once the hot wire knife is built, it can be used to create styrofoam puzzles, ornaments, moulds, or anything you can think of!</br> </p>
<img src="http://i.imgur.com/ftiPUP8.jpg" alt="imgur.com" style="width:500px;">
<p> </p>
<a href="https://www.youtube.com/watch?v=hvxctR1mWXU">Hot Wire Knife instructional video</a>
</div>

<div id="bug bot">
<h3> Bug Bot </h3>
<p> The bug bot uses a vibrating motor to move across surfaces.</p>
<img src="http://i.imgur.com/4h7lDre.jpg" alt="imgur.com" height="450px" width="450px""> <br>
<a href="https://www.youtube.com/watch?v=dUJesNe1JzU">Bug Bot instructional video</a>
</div>

<div id="rocket glider">
<h3> Rocket Glider </h3>
<p> A rocket release glider has its wings folded up on launch, and after launch the wings expand and the rocket glides away.</p>
<img src="http://i.imgur.com/IjsETwY.jpg" height="450px" width="400px"/> <br>
<a href="https://www.youtube.com/watch?v=S1bsaU8_4aw">Rocket Glider instructional video</a>
</div>

<div id="helicopter">
<h3> Helicopter Whirlygig </h3>
<p> A hand-launched helicopter. </p>
<img src="http://i.imgur.com/zl6F2rX.jpg" height="450px" width="300px"/> <br>
<a href="https://www.youtube.com/watch?v=3W0LApnQNrg">Helicopter instructional video</a>

<div id="footer">
<p style="font-style:oblique;">If you have any questions, comments or suggestions, please e-mail support@myfirstlabs.com</p>
</div>
</div>
</body>

<style type="text/css">
body {
width: 800px; 
margin-left: auto; 
margin-right:auto;
font-family: Arial; 
color: #EEE8AA; 
text-align:center; 
background-image: url("http://i.imgur.com/3Lawbdu.jpg");
}

h1 {
font-family: 'Almendra Display', cursive;
font-variant: small-caps;
font-size: 5em;
}

h3 {
font-variant: small-caps;
font-size: 25px;
}

img {
border: 2px solid black;
border-radius: 10px;
}

a:link, a:visited {
color: black;
background-color: #A8632D;
border: 1px solid black;
padding: 12px 20px;
text-align: center;
text-decoration: none;
display: inline-block;
border-radius: 10px;
transition: background-color 0.3s ease-out, color 0.3s ease-out;
}

a:hover, a:active {
color: #EEE8AA;
background-color: #331E0E;
transition: background-color 0.3s ease-in, color 0.3s ease-in;
}
</style>
</html>
