<!DOCTYPE html>
  <html lang="en-US">
  
    <header><head>
         <title> My First Labs </title>
         <link href="https://fonts.googleapis.com/css?family=Almendra+Display" rel="stylesheet">
    </head></header>
    
    <div id="nav_wrapper">
    <%= render 'welcome/navbar' %> <!-- Navigation Bar -->
    </div>
    
    <div id="container">
      <body>
        <h1> My First Labs </h1>
        <p style="font-style:italic; font-size:18px">Build your own early electronic devices at home, in school, or any educational setting!</p>
        <img src="http://i.imgur.com/V4NAVpl.jpg" alt="imgur.com" style="width:500px;">
        <br>
        <%= link_to 'Enter My First Labs', controller: 'projects' %>
      </body>
    </div>
  </html>