<div id="container">
  <h1> My First Labs </h1>
  <p style="font-style:italic; font-size:18px">Build your own early electronic devices at home, in school, or any educational setting!</p>
  
  <button class="buttons" onclick="gotoDivs(1)"> Tesla Coil</button>
  <button class="buttons" onclick="gotoDivs(2)"> Bushless Motor</button>
  <button class="buttons" onclick="gotoDivs(3)"> Hot Wire Knife</button>
  <button class="buttons" onclick="gotoDivs(4)"> Bug Bot</button>
  <button class="buttons" onclick="gotoDivs(5)"> Rocket Glider</button>
  <button class="buttons" onclick="gotoDivs(6)"> Helicopter Whirlygig</button>
  
  
  <div id="slider">
  <img class="slides" id="teslacoil" src="http://i.imgur.com/V4NAVpl.jpg" >
  <img class="slides" id="brusslessmotor" src="http://i.imgur.com/c67BCpL.jpg" >
  <img class="slides" id="hotwireknife" src="http://i.imgur.com/ftiPUP8.jpg" >
  <img class="slides" id="bugbot" src="http://i.imgur.com/4h7lDre.jpg" >
  <img class="slides" id="rocketglider" src="http://i.imgur.com/IjsETwY.jpg" >
  <img class="slides" id="helicopter" src="http://i.imgur.com/zl6F2rX.jpg" >
  
  <button class="button" onclick="plusDivs(-1)" id="b1">&#10094;</button>
  <button class="button" onclick="plusDivs(1)"id="b2">&#10095;</button>
  </div>
  <br><br><br>

</div>

<script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function gotoDivs(n) {
	showDivs(slideIndex=n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("slides");
  if (n > x.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";  
  }
  x[slideIndex-1].style.display = "block";  
}

</script>
