<%= render 'welcome/navbar' %> <!-- Navigation Bar -->

<div id="container">
<% @projects.each do |project| %>
<tr>
<td><%= project.name %></td>
</tr> <!-- TODO: make a dropdown menu -->

<p>If you have any questions, comments or suggestions, please e-mail support@myfirstlabs.com</p>

<%= link_to 'Back', projects_path %>
</div>