<div id="container">
  <h2>Available Project Kits</h2>
  <a href="https://www.tindie.com/stores/mscharlotte/" class="forward"> To order full parts kits online, click here. </a>
  <!-- Start of staff only items -->
    <% if current_user %>
      <%= link_to 'New Project', new_project_path, :class=>"new" %>
    <% end %>
  <!-- End of staff only items -->

  <br><br> <!-- Much needed whitespace -->

  <!-- Below loop will show the name and tumbnail with a link to the projects -->
  <ul class="project_tile_holder">
  <% @projects.each do |project| %>
    <li class = "project_tile">
      <%= link_to project.name , project_path(project), :class=>"forward" %>
      <br><br>
      <% unless project.image == '' then %> <!-- Check if image is linked -->
        <img src= <%= project.image %> alt="imgur.com" style="width: 200px;">
      <% else %> <!-- If not picture is linked -->
        <br><br><br><br> <!-- Muched needed whitespace -->
        Image Pending!
        <br><br><br><br> <!-- Much needed whitespace -->
      <% end %>

      <br><br><br> 
    </li><!-- Whitespace to divide different projects better -->
  <% end %>
  </ul>
  <br><br><br>
</div>