<div id="container">
  <% if current_user %>
    <h2>Feedback List</h2>
  
    <table class="info">
      <tr>
        <th class="info-1">Project</th>
        <th class="info-2">Name</th>
        <th class="info-3">Subject</th>
        <th class="info-4">Visible</th>
        <th class="info-5">Link to Details</th>
      </tr>
      <!-- Below loop will show the all the feedback information and actions that can be taken -->
      <% @feedback.each do |feedback| %>
      <tr>
        <td class="info-1"><%= feedback.project.name %></td>
        <td class="info-2">
          <% if feedback.commenter == '' then %> <!-- Check if anonymous -->
            Anonymous
          <% else %> <!-- If not anonymous -->
            <%= feedback.commenter %>
          <% end %>        
        </td>
        <td class="info-3"><%= feedback.title %></td>
        <td class="info-4">
          <% if feedback.is_approved %>
            Yes
          <% else %>
            No
          <% end %>
        </td>
        <td class="info-5"><%= link_to "View Feedback Details", feedback_path(feedback), :class=>"forward" %></td>

      </tr>
      <% end %>
    </table>
  <% else %>
    <h2>LOGIN TO VIEW CONTENT</h2>
  <% end %>
</div>