// Place all the styles related to the Feedbacks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table, tr, th, td {
  border-collapse: collapse;
  border: 1px solid #EEE8AA;
}

/* START OF COLUMN FORMATING */
  /* Project */
    .info-1 {
      width: 128px;
    }
  
  /* Name */
    .info-2 {
      width: 150px;
    }

  /* Subject */
    .info-3 {
      width: auto;
    }
    
  /* Visible */
    .info-4 {
      width: 52px;
    }
  
  /* Link to Details */
    .info-5 {
      width: 113px;
    }
/* END OF COLUMN FORMATING */