// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	font-family: Arial; 
	color: #EEE8AA; 
	background-image: url("http://imgur.com/3QMPdux");
}

h1 {
	font-family: 'Almendra Display', cursive;
	font-variant: small-caps;
	font-size: 3em;
}

#container {
    width: 1000px; 
    margin-left: auto; 
    margin-right:auto;
    text-align:center; 
}

#container h3 {
    font-variant: small-caps;
    font-size: 25px;
}

#container img {
    width: 500px;
    border: 2px solid black;
    border-radius: 10px;
}

#show-links {
    width: 800px; 
    margin-left: auto; 
    margin-right:auto;
    text-align:center;
}

.project_tile_holder {
	box-sizing:border-box;
}

.project_tile {
	float: left;
	display: block;
	margin-right: 50px;
	margin-left: 50px;
	margin-top: 50px;
	width: 200px;
	position:relative;
}

.project_tile img {
	border: 2px solid black;
    border-radius: 10px;
}