// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	font-family: Arial; 
	color: #EEE8AA; 
	background-image: url("http://i.imgur.com/3Lawbdu.jpg");
}

h1 {
	font-family: 'Almendra Display', cursive;
	font-variant: small-caps;
	font-size: 3em;
}

#container h1 {
	font-size: 5em !important;
}

#container {
    width: 800px; 
    margin-left: auto; 
    margin-right:auto;
    text-align:center; 
}

#container a:link, a:visited {
	color: black;
	background-color: #A8632D;
	border: 1px solid black;
	padding: 12px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border-radius: 10px;
	transition: background-color 0.3s ease-out, color 0.3s ease-out;
}

#container a:hover, a:active {
	color: #EEE8AA;
	background-color: #331E0E;
	transition: background-color 0.3s ease-in, color 0.3s ease-in;
}