// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	font-family: Arial; 
	color: #EEE8AA; 
	background-image: url("http://i.imgur.com/3Lawbdu.jpg");
}

h1 {
	font-family: 'Almendra Display', cursive;
	font-variant: small-caps;
	font-size: 3em;
}

#container h1 {
	font-size: 5em !important;
}

#container {
    width: 960px; 
    margin-left: auto; 
    margin-right:auto;
    text-align:center; 
}

